.font-pequena{
    font-size: .6em 
}

.font-pequena-media{
    font-size: 0.75em
}

.font-media{
    font-size: 17px
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
    border-style: none;
}

.ui-autocomplete-multiple-container {
  width: 200px;
}

