<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://palmas.uft.edu.br:5432/lab_old</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">eL@OxzWGvo</property>
    
        <mapping class="model.SiteCargo" />
        <mapping class="model.SiteCargoProfessor" />
        <mapping class="model.SiteComentarios" />
        <mapping class="model.SiteFormacao" />
        <mapping class="model.SiteFuncao" />
        <mapping class="model.SiteFuncaoProfessor" />
        <mapping class="model.SiteNoticia" />
        <mapping class="model.SiteNoticiaTags" />
        <mapping class="model.SitePerfil" />
        <mapping class="model.SitePerfilUsuario" />
        <mapping class="model.SiteProfessorFormacao" />
        <mapping class="model.SiteTags" />
        <mapping class="model.TbProfessores" />
        <mapping class="model.TbUsefulLink" />
        <mapping class="model.TbUsersystem" />
    </session-factory>
</hibernate-configuration>
